main {
	max-width: 960px;
	margin: 0 auto;
	padding: 16px;
}

nav a {
	margin-right: 12px;
}

.layout {
	display: flex;
	align-items: flex-start;
	gap: 24px;
}

.layout > * {
	flex: 1;
}

@media (max-width: 650px) {
	.layout {
		flex-direction: column;
	}
}
